* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: rgb(13, 26, 45);
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  width: 90%;
  margin: auto;
  background: rgb(21, 39, 63);
  border-radius: 12px;
  padding: 1rem 1.5rem;
  box-shadow: 1px 1px 20px rgb(22, 41, 65);
}

section {
  margin: 0.75rem 0;
  padding: 1px;
}

.img-container {
  position: relative;
}

.img-container > * {
  width: 100%;
  object-fit: cover;
  height: 230px;
  border-radius: 8px;
  margin-top: 0;
}

.img-container div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.main-title {
  color: rgb(189, 198, 204);
  font-size: 1.2rem;
  margin: 0.9rem 0;
}

#description {
  color: rgb(145, 166, 198);
  font-size: 0.85rem;
  margin-bottom: 0.9rem;
}

.sub-info ul {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  padding-bottom: 1rem;
  border-bottom: 1.75px solid rgb(45, 64, 87);
}

.sub-info li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-info span {
  margin-left: 0.5rem;
}

.e-amount {
  color: rgb(0, 255, 248);
}

.date {
  color: rgb(139, 172, 217);
}

.personal-info img {
  height: 40px;
  border: 0.87px solid white;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
}

.personal-info figcaption {
  font-size: 0.85rem;
  line-height: 40px;
  color: rgb(145, 166, 198);
  overflow: hidden;
}

figcaption .hover-color {
  color: rgb(188, 204, 218);
}

.hover-color {
  transition: color 350ms ease-out;
}

.img-container:hover div,
.img-container div:hover {
  display: flex;
  background: rgba(0, 255, 247, 0.461);
}

.hover-color:hover {
  color: rgb(0, 255, 248);
  cursor: pointer;
}

@media all and (min-width: 600px) {
  body {
    padding: 3rem 1rem;
  }
  main {
    width: 20rem;
    margin: 0 auto;
  }

  .personal-info figcaption {
    line-height: 40px;
  }
}
